/* You can add global styles to this file, and also import other style files */

.grid {
    width:100%;
}

.grid td {
    border:1px solid #222;
    padding:2px 4px;
}

.italic {
    font-style:italic;
}

.bold {
  font-weight:bold;
}

.small {
    font-size:8pt;
}

.strikethrough, tr.strikethrough td {
  text-decoration: line-through;
}
